@media print {
    .bg-theme {
        --webkit-print-color-adjust: exact;
        background-color: #06508d;
        background-color: transparent!important;
    }
    .text-theme {
        --webkit-print-color-adjust: exact;
        color: #06508d!important;
    }
    .text-white {
        --webkit-print-color-adjust: exact;
        color: #ffffff!important;
    }
}